

* {

}
body{ 
    margin: 0 auto;
}
header.header{
    display: flex;
    align-items: center;
}
header.header img {
    width: 300px;

}
section.top-page{
    background: url(../images/6.jpg);
    background-size: cover;
    height:87vh;
    padding: 25px;

}
nav class nav top-page {
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
   
}


    

/*  page de bienvenue (landing page)*/
.big-title {
    font-size: 40px;
    padding: 10px 30px;
    font-weight: 40px;
    width: 800px;
    

}
h1 {
    font-size: 50px;
    padding: 10px 30px;
    font-weight: 80px;
    width: 500px;
}

h4 {
    display: flex;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 40px;
    width: 500px;
}
h3 {
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 80px;
    width: 500px;
}

/* menu de navigation */

nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 600px;
    margin-left: 200px;
}
nav.nav li {

}

/* services */

.services{
    display: flex;
    margin: 50px;
    justify-content: space-evenly ;


}  
.services-item { 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.services-details {
    font-weight: 500;
    width: 30  0px;
    text-align: center;
    flex-direction: column;


}
/* titre */
.text-center {
    text-align: center;
    margin: 60px;
    display: flex;
}